# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Engine/*.opendb

# Custom
*.vcxproj
*.filters
*.db
*.suo
\Engine\Engine\Debug\*
Engine/.vs/Engine/v14/.suo
Engine/Engine.VC.db
Engine/Engine/Engine.vcxproj
Engine/Engine/Engine.vcxproj.filters
*.tlog
*.pdb
*.log
*.ilk
*.idb
